@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "微软雅黑";
	color: #333333;
}
.main{
	position: relative;
    margin: 0 auto;
    margin-top: 2em;
    width: 75%;
}
.inputbox{
	width: 100%;
}
.inputbox:after{
	content: "";
	display: block;
	clear: both;
}
.inputbox h4{
	font-size: 0.95em;
}
.inputbox .input-item{
	position: relative;
}
.placeholder{
	position: absolute;
    top: 1em;
    left: 0.6em;
    font-size: 14px;
    color: #aaa;
}
input[type="password"],input[type="text"]{
	width: 100%;
    outline: none;
    padding: 0.8em 0.5em;
    border: 1px solid #D8D8D8;
    font-size: 14px;
    margin: 0.3em 0em;
    color: #333;
}
.error_bg{
	border-color: #FF6700;
}
.err_tip{
	width: 100%;
    color: #FF6700;
    font-size: 0.9em;
    height: 1.3em;
}
.err_tip i{
	font-size: 0.9em;
    margin-right: 0.4em;
    font-weight: 400;
}
.codetip{
	float: left;
}
.code{
	float: left;
	width: 50%;
}
.code_btn{
	width: 9em;
    height: 2.7em;
    padding-left: 0.4em;
    margin-left: 0.7em;
    margin-top: 0.3em;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    color: #6b5d5d;
}
input[type="password"]::placeholder,input[type="text"]::placeholder{
	color: #aaa;
}
.tip_btns{
	width: 100%;
	text-align: center;
}
input[type="button"]{
	outline: none;
    padding: 0.6em 0em;
    width: 9em;
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
    font-size: 14px;
    margin-left: 0.3em;
    color: #333;
    cursor: pointer;
}
#btn_confirm{
	border: 0px;
    background-color: #FF6700;
    color: #FFFFFF;
    margin-left: 0;
}
.hidden{
	display: none;
}
.message{
	text-align: center;
    margin-bottom: 0.5em;
}
.btnDisable{
	background-color: #959ba5!important;
}
.messageSuccess{
    color: #0d8209!important;
}