<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njwangbo.mapper.GoodsMapper">
		<resultMap type="Goods" id="Goods">
			<id property="id" column="GID" />
			<result property="name" column="GNAME" />
			<result property="createDate" column="GCREATEDATE" />
			<result property="title" column="GTITLE" />
			<result property="description" column="GDESCRIPTION" />
			<result property="producer" column="GPRODUCER" />
			<result property="comments" column="GCOMMENTS" />
			<result property="purchases" column="GPURCHASES" />
			<result property="stock" column="GSTOCK" />
			<result property="price" column="GPRICE" />
			<result property="facomments" column="GFACOMMENTS" />
			<result property="slideImage" column="GSLIDEIMAGE" />
			<result property="typeId" column="GTYPEID" />
			<result property="typeName" column="GTYPENAME"/>
			<collection property="imgList" ofType="GoodsImg" >
				<id property="id" column="IMGID" />
				<result property="name" column="IMGNAME" />
				<result property="goodsId" column="GID" />
				<result property="basePath" column="GBASEPATH" />
			</collection>
			
		</resultMap>
		
	<select id="queryGoodsForGridByCondition" parameterType="GridCondition" resultMap="Goods">
    	SELECT T3.GID AS GID,T3.GNAME AS GNAME,T3.GTITLE AS GTITLE,T3.GSTOCK AS GSTOCK,T3.GDESCRIPTION AS GDESCRIPTION,T3.GPRODUCER AS GPRODUCER,
    		T3.GCOMMENTS AS GCOMMENTS,T3.GPURCHASES AS GPURCHASES,T3.GPRICE AS GPRICE,T3.GFACOMMENTS AS GFACOMMENTS,
    		T3.GSLIDEIMAGE AS GSLIDEIMAGE,T3.TYPEID AS GTYPEID,T3.TYPENAME AS GTYPENAME,T3.CREATEDATE AS GCREATEDATE	,I.ID AS IMGID,I.NAME AS IMGNAME,I.BASEPATH AS GBASEPATH
		FROM 
		(SELECT T2.GID,T2.GNAME,T2.GTITLE,T2.GSTOCK,T2.GDESCRIPTION,T2.GPRODUCER,T2.GCOMMENTS,T2.GPURCHASES,T2.GPRICE,T2.GFACOMMENTS,T2.GSLIDEIMAGE,T2.TYPEID,T2.TYPENAME,T2.CREATEDATE,T2.ROWNO
		FROM
		(SELECT T1.GID,T1.GNAME,T1.GTITLE,T1.GSTOCK,T1.GDESCRIPTION,T1.GPRODUCER,T1.GCOMMENTS,T1.GPURCHASES,T1.GPRICE,T1.GFACOMMENTS,T1.GSLIDEIMAGE,T1.TYPEID,T1.TYPENAME,T1.CREATEDATE,ROWNUM AS ROWNO
		FROM
		(SELECT G.ID AS GID,G.NAME AS GNAME,G.TITLE AS GTITLE,G.STOCK AS GSTOCK,G.DESCRIPTION AS GDESCRIPTION,G.PRODUCER AS GPRODUCER,G.COMMENTS AS GCOMMENTS,G.PURCHASES AS GPURCHASES,G.PRICE AS GPRICE,G.FACOMMENTS AS GFACOMMENTS,G.SLIDEIMAGE AS GSLIDEIMAGE,T.ID AS TYPEID,T.NAME AS TYPENAME,TO_CHAR(G.CREATEDATE,'YYYY"年"MM"月"dd"日" HH24:MI:SS') AS CREATEDATE FROM T_GOODS G
		LEFT JOIN T_TYPE T 
		ON G.TYPEID = T.ID ${condition} 
		ORDER BY G.CREATEDATE DESC) T1 ) T2
		WHERE T2.ROWNO BETWEEN ((#{pageNum}-1)*#{pageSize}+1) AND  #{pageNum}*#{pageSize} ) T3
		LEFT JOIN T_GOODSIMG I
		ON T3.GID = I.GOODSID ORDER BY T3.CREATEDATE DESC
    </select>
	
	<select id="queryGoodsByPurchases" parameterType="GridCondition" resultMap="Goods">
    	SELECT T3.GID AS GID,T3.GNAME AS GNAME,T3.GTITLE AS GTITLE,T3.GSTOCK AS GSTOCK,T3.GDESCRIPTION AS GDESCRIPTION,T3.GPRODUCER AS GPRODUCER,
    		T3.GCOMMENTS AS GCOMMENTS,T3.GPURCHASES AS GPURCHASES,T3.GPRICE AS GPRICE,T3.GFACOMMENTS AS GFACOMMENTS,
    		T3.GSLIDEIMAGE AS GSLIDEIMAGE,T3.TYPEID AS GTYPEID,T3.TYPENAME AS GTYPENAME,T3.CREATEDATE AS GCREATEDATE	,I.ID AS IMGID,I.NAME AS IMGNAME,I.BASEPATH AS GBASEPATH
		FROM 
		(SELECT T2.GID,T2.GNAME,T2.GTITLE,T2.GSTOCK,T2.GDESCRIPTION,T2.GPRODUCER,T2.GCOMMENTS,T2.GPURCHASES,T2.GPRICE,T2.GFACOMMENTS,T2.GSLIDEIMAGE,T2.TYPEID,T2.TYPENAME,T2.CREATEDATE,T2.ROWNO
		FROM
		(SELECT T1.GID,T1.GNAME,T1.GTITLE,T1.GSTOCK,T1.GDESCRIPTION,T1.GPRODUCER,T1.GCOMMENTS,T1.GPURCHASES,T1.GPRICE,T1.GFACOMMENTS,T1.GSLIDEIMAGE,T1.TYPEID,T1.TYPENAME,T1.CREATEDATE,ROWNUM AS ROWNO
		FROM
		(SELECT G.ID AS GID,G.NAME AS GNAME,G.TITLE AS GTITLE,G.STOCK AS GSTOCK,G.DESCRIPTION AS GDESCRIPTION,G.PRODUCER AS GPRODUCER,G.COMMENTS AS GCOMMENTS,G.PURCHASES AS GPURCHASES,G.PRICE AS GPRICE,G.FACOMMENTS AS GFACOMMENTS,G.SLIDEIMAGE AS GSLIDEIMAGE,T.ID AS TYPEID,T.NAME AS TYPENAME,TO_CHAR(G.CREATEDATE,'YYYY"年"MM"月"dd"日" HH24:MI:SS') AS CREATEDATE FROM T_GOODS G
		LEFT JOIN T_TYPE T
		ON G.TYPEID = T.ID ${condition}
        ORDER BY G.PURCHASES DESC ) T1 ) T2
		WHERE T2.ROWNO BETWEEN ((#{pageNum}-1)*#{pageSize}+1) AND  #{pageNum}*#{pageSize} ) T3
		LEFT JOIN T_GOODSIMG I
		ON T3.GID = I.GOODSID
    </select>
	
	<select id="queryGoodsByCondition" parameterType="GridCondition" resultMap="Goods">
    	SELECT ID AS GID,NAME AS GNAME,TITLE AS GTITLE,STOCK AS GSTOCK,DESCRIPTION AS GDESCRIPTION,PRODUCER AS GPRODUCER,
    		COMMENTS AS GCOMMENTS,PURCHASES AS GPURCHASES,PRICE AS GPRICE,FACOMMENTS AS GFACOMMENTS,
    		SLIDEIMAGE AS GSLIDEIMAGE,TYPEID AS GTYPEID,CREATEDATE AS GCREATEDATE 
		FROM T_GOODS ${condition}
    </select>	
	
	<select id="queryGoodsCount" parameterType="GridCondition" resultType="int">
    	SELECT COUNT(GID) FROM (SELECT G.ID AS GID,G.NAME AS GNAME,G.TITLE AS GTITLE,G.STOCK AS GSTOCK,G.DESCRIPTION AS GDESCRIPTION,G.PRODUCER AS GPRODUCER,G.COMMENTS AS GCOMMENTS,G.PURCHASES AS GPURCHASES,G.PRICE AS GPRICE,G.FACOMMENTS AS GFACOMMENTS,G.SLIDEIMAGE AS GSLIDEIMAGE,T.ID AS TYPEID,T.NAME AS TYPENAME,TO_CHAR(G.CREATEDATE,'YYYY"年"MM"月"dd"日" HH24:MI:SS') AS CREATEDATE FROM T_GOODS G
		LEFT JOIN T_TYPE T
		ON G.TYPEID = T.ID ${condition}  )
    </select>
    
    <select id="queryGoodsById" parameterType="Goods"  resultMap="Goods">
		select G.ID AS GID,G.NAME AS GNAME,G.TITLE AS GTITLE,G.STOCK AS GSTOCK,G.DESCRIPTION AS GDESCRIPTION,G.PRODUCER AS GPRODUCER,G.COMMENTS AS GCOMMENTS,
		G.PURCHASES AS GPURCHASES,G.PRICE AS GPRICE,G.FACOMMENTS AS GFACOMMENTS,G.SLIDEIMAGE AS GSLIDEIMAGE,T.ID AS GTYPEID,T.NAME AS GTYPENAME,
   		 G.CREATEDATE AS GCREATEDATE,I.ID AS IMGID,I.NAME AS IMGNAME,I.BASEPATH AS GBASEPATH from T_GOODS G LEFT JOIN T_GOODSIMG I ON G.ID = I.GOODSID 
   		 LEFT JOIN T_TYPE T ON T.ID = G.TYPEID where G.ID = #{id}
	</select>

	<select id="queryGoodsByName" parameterType="Goods"  resultMap="Goods">
		select ID AS GID,NAME AS GNAME,TITLE AS GTITLE,STOCK AS GSTOCK,DESCRIPTION AS GDESCRIPTION,PRODUCER AS GPRODUCER,
    		COMMENTS AS GCOMMENTS,PURCHASES AS GPURCHASES,PRICE AS GPRICE,FACOMMENTS AS GFACOMMENTS,
    		SLIDEIMAGE AS GSLIDEIMAGE,TYPEID AS GTYPEID,CREATEDATE AS GCREATEDATE from T_GOODS where NAME = #{name}
	</select>
	
	
    
    <delete id="deleteGoods" parameterType="Goods" >
    	DELETE FROM T_GOODS WHERE ID = #{id}
    </delete>
	
	<delete id="deleteGoodsByTypeID" parameterType="Goods" >
    	DELETE FROM T_GOODS WHERE TYPEID = #{typeId}
    </delete>
		
	<insert id="insertGoods"  parameterType="Goods"  >
		<selectKey keyProperty="id" order="BEFORE"  resultType="String">
			SELECT sys_guid() FROM DUAL
		</selectKey>
		INSERT INTO T_GOODS(ID,NAME,TITLE,STOCK,DESCRIPTION,PRODUCER,PRICE,TYPEID)
		VALUES(#{id},#{name},#{title},#{stock},#{description},#{producer},#{price},#{typeId})
	</insert>
	
	<update id="updateGoods" parameterType="Goods" >
		UPDATE T_GOODS SET NAME = #{name},TITLE = #{title},STOCK = #{stock},DESCRIPTION = #{description},
		PRODUCER = #{producer},PRICE = #{price},TYPEID = #{typeId} WHERE ID = #{id}
	</update>
	
	<update id="updateGoodsStock" parameterType="Goods" >
		UPDATE T_GOODS SET STOCK = #{stock} WHERE ID = #{id}
	</update>
	
	<update id="updateGoodsPurchases" parameterType="Goods" >
		UPDATE T_GOODS SET PURCHASES = #{purchases} WHERE ID = #{id}
	</update>		
		
</mapper>